:root {
  --accent-color: #ff6b08;
  --accent-color-hover: #ff3908;
  --white-text-color: #ffffff;
  --red-text-color: #ff001b;
  --black-text-color: #000000;
  --grey-text-color: #545454;

  --transition-cube: cubic-bezier(0.4, 0, 0.2, 1);
  --border-radius: 5px;
  --table-gap: 30px;
}
