:root {
  --accent-color: #ff6b08;
  --accent-color-hover: #ff3908;
  --white-text-color: #ffffff;
  --red-text-color: #ff001b;
  --black-text-color: #000000;
  --grey-text-color: #545454;

  --transition-cube: cubic-bezier(0.4, 0, 0.2, 1);
  --border-radius: 5px;
  --table-gap: 30px;
}

// Палитра
// Переменные базовые

// Переменные для фона

$lightBackgroundColor: #f1f1f1;

// Переменные для текста
// $primaryTitleColor: #111518;
// $primaryTextColor: #b9b9b9;
// $secondaryTextColor: #3d3d3d;

// Переменная для акцента
$accentColor: #ff6b09;

// Другое
// Переменная для шрифта
$primaryFont: 'Roboto', sans-serif;

// Переменная для анимации
$primaryTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
